{{#each listings as |listing| }}
<div class="container-fluid d-flex justify-content-center" style="width: 100%;">
    <div class="card mb-3 col-7 my-3" style="max-width: 70%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{listing.image}}" class="img-fluid rounded-start object-fit mx-auto d-block" alt=""
                    >
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="/api/listings/{{listing.id}}">
                        <h5 class="card-title">{{listing.title}}</h5>
                    </a>

                    {{!-- Show price or SOLD depending on listing.sold --}}
                    {{#if listing.sold}}
                    <h6 class="text-danger font-weight-bold">SOLD</h6>
                    {{else}}
                    <h6>${{listing.price}}</h6>
                    {{/if}}

                    <p class="card-text">{{listing.description}}</p>
                    <p class="card-text"><small class="text-muted">Posted by {{listing.user.name}} on {{format_date
                            listing.date_created}}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}