<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>


<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Listing:</h3>

    <form class="form new-listing-form">
      <div class="form-group">
        <label for="listing-title">Listing title:</label>
        <input class="form-input" type="text" id="listing-title" name="listing-title" />
      </div>
      <div class="form-group">
        <label for="listing-price">Price:</label>
        <input class="form-input" type="number" id="listing-price" name="listing-price" />
      </div>
      <div class="form-group">
        <label for="listing-desc">description:</label>
        <textarea class="form-input" id="listing-desc" name="listing-desc"></textarea>
      </div>
      <div method="POST" action="/profile" enctype="multipart/form-data"></div>
      <input type="file" name="Image" id="file-input" accept="image/*">
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/profile.js"></script>


<div class="d-flex my-3 mx-3 justify-content-center">
  <a class="btn btn-primary btn-lg" href="http://post.craigslist.org" role="button">Create New Listing</a>
</div>


<h3>Your current listings:</h3>
{{#each listings as |listing| }}
<div class="container-fluid d-flex justify-content-left" style="width: 100%; height: 15rem;">
  <div class="card mb-3 col-7" style="max-width: 80%;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href="/api/listings/{{listing.id}}"><img src="{{listing.image}}" class="img-fluid rounded-start object-fit"
            alt="kermit-plushie" style="max-height: 18.9rem; width: 100%;"></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <a href="/api/listings/{{listing.id}}">
            <h5 class="card-title">{{listing.title}}</h5>
          </a>

          {{!-- Show price or SOLD depending on listing.sold --}}
          {{#if listing.sold}}
          <h6 class="text-danger font-weight-bold">SOLD</h6>
          {{else}}
          <h6>${{listing.price}}</h6>
          {{/if}}

          <p class="card-text">{{listing.description}}</p>
          <p class="card-text"><small class="text-muted">Posted on {{format_date listing.date_created}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}